<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	{% block headcss %}{% endblock %}
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			{% block content %}
			{% endblock %}
		</div>
	</div>
	{% block bodyjs %}
	{% endblock %}
</body>
</html>
