{% extends 'base.html' %}

{% block title %} Admin Login {% endblock %}

{% block headcss %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
{% endblock %}

{% block content %}
<div class="col-xs-10 col-md-8 col-lg-4" id="login_box">
	<div class="row">
		<div class="col-sm-10 col-sm-push-1" id="login_box_internal">
			<span id="login_title"><h3>Login as Admin</h3></span><br>
			{% if alert %}
			<div class="alert alert-{{ alert }}">
				{{ alertmessage }}
			</div>
			{% endif %}
			<form method="post" action="/admin"> {% csrf_token %}
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" name="email" placeholder="JohnDoe@something.com">
				</div>
				<div class="form-group">
					<label for="pwd">Password</label>
					<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
				<input type="hidden" name="redirect" value="{{ redirect }}">
			</form>
		</div>
	</div>
</div>
{% endblock %}
