{% extends 'base.html' %}

{% block title %} Login | SIM {% endblock %}

{% block headcss %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static '/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="col-xs-10 col-md-8 col-lg-4" id="login_box">
	<div class="row">
		<div class="col s8" id="login_box_internal">
			<span id="login_title"><h3>Login</h3></span><br>
			{% if alert %}
			<div class="alert alert-{{ alert }}">
				{{ alertmessage }}
			</div>
			{% endif %}
			<form method="post" action="/login"> {% csrf_token %}
				<div class="form-group">

					<input type="email" class="form-control" id="email" name="email" placeholder="Email">
				</div>
				<div class="form-group">
					
					<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
				</div>
				<br>
				<label for="type">You are a</label>
                <div>
                	<label>
						<input type="radio" class="option-input radio" name="type" value="customer" style="outline:none" checked />
                        	Customer
                    </label>
                    <label>
                       	<input type="radio" class="option-input radio" name="type" value="staff" style="outline:none" />
                        	Staff
                    </label>
                </div>
				<div class="form-group">
					<center>
						<button type="submit" class="btn btn-primary waves-effect waves-light">Log In</button>
					</center>
				</div>
				<input type="hidden" name="redirect" value="{{ redirect }}">
			</form>
			<br>
			<br>
			<div id="register">
				<span id="question">Don't have an account ?</span><span id="signup"> <a href="/register/user">Sign Up </a></span>
			</div>
		</div>
	</div>
</div>
{% endblock %}