{% extends 'base.html' %}

{% block title %} Login | OAS {% endblock %}

{% block headcss %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-xs-10 col-md-8 col-lg-4" id="login_box">
    	<div class="row">
    		<div class="col-sm-10 col-sm-push-1" id="login_box_internal">
    			<span id="login_title"><h3>Login</h3></span><br>
    			{% if alert %}
    			<div class="alert alert-{{ alert }}">
    				{{ alertmessage }}
    			</div>
    			{% endif %}
    			<form method="post" action="/login"> {% csrf_token %}
    				<div class="form-group">
    					<label for="email">Email</label>
    					<input type="email" class="form-control" id="email" name="email" placeholder="me@example.com">
    				</div>
    				<div class="form-group">
    					<label for="pwd">Password</label>
    					<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
    				</div>
    				<div class="form-group">
    					<button type="submit" class="btn btn-primary btn-block">Log In</button>
    				</div>
    				<input type="hidden" name="redirect" value="{{ redirect }}">
    			</form>
    			<br>
    			<div id="register">
    				<span id="question">Don't have an account ?</span><span id="signup"> <a href="/register/user">Sign Up </a></span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
{% endblock %}
