{% extends 'base.html' %}

{% block title %} Login | OAS {% endblock %}

{% block headcss %}
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block content %}
<style type="text/css">
    *{font-family: 'Roboto', sans-serif;}

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
  outline: none;
}

</style>

<div class="container">
    <div class="col-xs-10 col-md-8 col-lg-4" id="login_box">
    	<div class="row">
    		<div class="col-sm-10 col-sm-push-1" id="login_box_internal">
    			<span id="login_title"><h3>Login</h3></span><br>
    			{% if alert %}
    			<div class="alert alert-{{ alert }}">
    				{{ alertmessage }}
    			</div>
    			{% endif %}
    			<form method="post" action="/login"> {% csrf_token %}
    				<div class="form-group">
    					<label for="email">Email</label>
    					<input type="email" class="form-control" id="email" name="email" placeholder="me@example.com">
    				</div>
    				<div class="form-group">
    					<label for="pwd">Password</label>
    					<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
    				</div>
    				<div class="form-group">
    					<button type="submit" class="btn btn-primary btn-block">Log In</button>
    				</div>
    				<input type="hidden" name="redirect" value="{{ redirect }}">
                    <label for="type">You are a</label>
                    <div>
                      <label>
                        <input type="radio" class="option-input radio" name="type" value="customer" style="outline:none" checked />
                        Customer
                      </label>
                      <label>
                        <input type="radio" class="option-input radio" name="type" value="staff" style="outline:none" />
                        Staff
                      </label>
                    </div>
    			</form>
    			<br>
    			<div id="register">
    				<span id="question">Don't have an account ?</span><span id="signup"> <a href="/register/user">Sign Up </a></span>
    			</div>
    		</div>
    	</div>
    </div>
</div>
{% endblock %}
